.project_body {
    background: #222222;
}

.main_menu_item {
    filter: drop-shadow(0px 4px 4px rgba(25, 112, 37, 0.868)) drop-shadow(0px 4px 4px rgba(25, 112, 37, 0.868));
}

.main_menu a {
    color: #ffffff;
}

.main_menu_link {
    color: #ffffff;
}

.nav_button {
    background: #CAA892;
    border: 1px solid white;

}
.main_menu_item:hover a{
    border: 0.5px solid #37806B;
    color: #e1e3e3;
}

.nav_button a {
    color: #222222;
}


.nav_button:hover {
    background-color: #cbb8ac;
}

.modern_interior_text {
    color: #ffffff;
}

.modern_interior_header {
    color: #ffffff;
}

.modern_interior_info {
    color: #ffffff;
}

.modern_interior_button {
    color: #222222;
    background: #37806B;
    border: 1px solid #ffffff;
}

.modern_interior_button:hover {
    background: #222222;
    color: #37806B;
}

.footer_group {
    background: #c2c0c0;
}

.footer_img_text {
    color: #222222;
}

.footer_links {
    color: #ffffff;
}

.fotter_company {
    color: #ffffff;
}

.fotter_contact {
    color: #ffffff;
}

.fotter_follow {
    color: #222222;
}

.footer_year_info {
    color: #222222;
}

.ui-progress span.ui-label {
    color: rgb(249, 246, 246);
    text-shadow: rgb(255, 255, 255) 0 1px 0px;
}

.what_we_do_subtitle {
    color: #ffffff;
}

.what_we_do_title {
    color: #ffffff;
}

.list_item {
    background: #37806B;
    color: #222222;
}

.list_item:hover {
    background: #222222;
    color: #37806B;
}

.about_subtitle {
    color: #ffffff;
}

.about_text {
    color: #ffffff;
}

.about_title {
    color: #ffffff;
}

.about_button {
    background: #37806B;
    color: #222222;
    border: 1px solid #ffffff;
}

.about_button:hover {
    background: #222222;
    color: #37806B;
}

.testimonials_text {
    color: #ffffff;
}

.slider_prev {
    box-shadow: -1px 3px 10px rgb(255, 254, 254);
}

.slider_prev:hover {
    background: #37806B;
    color: #222222;
}

.slider_next {
    box-shadow: -1px 3px 10px rgb(242, 240, 240);

}

.slider_next:hover {
    background: #37806B;
    color: #222222;
}

.slider_line {
    background: #222222;
}

.news_subtitle {
    color: #ffffff;

}

.news_title {
    color: #ffffff;

}

.news_block_button {
    background: #37806B;
    color: #222222;
    border: 1px solid #ffffff;

}

.news_block_button:hover {
    background: #222222;
    color: #37806B;

}

.news_block1_info:hover,
.news_block2_info:hover {
    background: #222222;

}

.sign_up_text {
    color: #ffffff;

}

.input_box_name {
    background: #222222;
    color: #ffffff;
    border: 1px solid #ffffff;
}

.input_box_surname {
    background: #222222;
    color: #ffffff;
    border: 1px solid #ffffff;
}

.input_box_mail {
    background: #222222;
    color: #ffffff;
    border: 1px solid #ffffff;
}

.sign_up_button {
    background: #37806B;
    color: #222222;
    border: 1px solid #ffffff;

}

.sign_up_button:hover {
    background: #222222;
    color: #37806B;
}

.input_box label {
    color: #ffffff;
}

.twenty_years_twenty {
    background: #7e7c7c;
}

.twenty_years_button {
    background: #37806B;
    color: #222222;
    border: 1px solid #ffffff;

}

.twenty_years_button:hover {
    background: #222222;
    color: #37806B;
}

.work {
    background: #494747;
}

.work_title {
    color: #ffffff;
}

.work_statistic1,
.work_statistic2,
.work_statistic3,
.work_statistic4 {
    background: #222222;
    box-shadow: 0px 13px 16px rgb(255, 255, 255);
    box-shadow: 0 13px 16px rgb(255, 255, 255);

}

.work_statistic_card_value {
    color: #ffffff;
}

.work_statistic_card_name {
    color: #ffffff;
}

.testimonials_title {
    color: #ffffff;
}

#example1 {
    color: #ffffff;
}

#example2 {
    color: #ffffff;
}

.news_block_text {
    color: #ffffff;
}

.news_block1_info:hover,
.news_block2_info:hover {

    background: #7e7c7c;

}

.sign_up_title {
    color: #ffffff;
}

.weather {
    background-color: #37806B;
    box-shadow: 0 0 10px #ffffff;

}

.weather_city {
    color: #ffffff;
}

.weather_temp {
    color: #ffffff;
}

.change-theme [data-theme="dark"] {
    display: none;
}

.change-theme [data-theme="light"] {
    display: block;
}

.footer_year {
    color: #222222;
}

.create_line {
    border-top: 3px solid #222222;
}